@import "style.css";

#question{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.question_bg{
    background: #FFFFFF;
    width: 1200px;
    height: 45%;
    position: absolute;
    top:5%;
    border: solid 1px lightgray;
}

.btn-choice {
    /* bootstrap btn */
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    /* bootstrap btn-outline-* */
    /* color: var(--header_color); */
    width:250px;
    background-color: transparent;
    background-image: none;
    /* custom */
    border: 2px solid grey;
    border-radius: 40px;
    font-size: 25px;
    color: black;
    background-color: #FFFFFF;
}
.btn-choice:hover{
    border-color: var(--naver_green);
}
.btn-choice:focus{
    outline: none;
    border-color: var(--naver_green);
}

.candidate_bg{
	background-color: var(--dim_gradient);
	width: 1200px;
	height: 45%;
    position: absolute;
    bottom: 0;
/* border: 5px solid #ff8a4f; */
}

.back_button_bg{
    float:left;
    width:100px;
    text-align: center;
}

.back_button{
    width: 40px;
    height: 80px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.back_button:focus{
    outline: none;
}


.question{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 10px;
}

.choices{
    width: 840px;
    height: 210px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 30px;
}

.choices button{
    width: 240px;
    font-size: 24px;
    margin: 10px;
}

#candid_discdiv{
	display:table;	
	position: absolute;
	width: 13em;
    height: 2em;
    /*left: -1.2em;*/
    background-image: url("../images/Bookclip.png");
    background-size: contain;
    color: #FFFFFF;

    text-align: left;
    font-size: 20px;
	font-weight: bold;
}

#candid_imgdiv{	
	position: absolute;
	width: 100%;
	height: 90%;
	top : 10%;
}

#no_candid_div{	
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
}

#no_candid_text {
    display: table-cell;
    vertical-align: middle;
}

#question_candidate_image_text {
	display:table-cell;
	vertical-align:middle;
    padding-left: 1em;
    /*color: #ff8a4f;*/
}

.image_textbox {
	position: absolute;
	display : table;
	width: 100%;
	height: 20px;
	bottom : 0;
	/* padding: 5px 10px; */
	background-color: rgba( 0, 0, 0, 0.5 );
	text-align: center;
}

.question_imgdiv_image_text{
	display:table-cell;
	vertical-align:middle;
	color: #ffffff;
}

.imgdiv{	
	position: absolute;
	width:160px;
	height:160px;
	display:none;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
}
.imgdiv:hover{
    width:168px;
    height:168px;
    /*transform: rotate(3deg);*/
}

.wrongimgdiv{	
	position: absolute;
	width:160px;
	height:160px;
	opacity:0.5;
	display:none;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
}

.candidates{
	width:100%;
	height:100%;
}
/* .candidates:hover{
    width:104%;
    height:104%;
    margin-left:-2%;
    margin-top:-2%;
    transform: rotate(3deg);
} */


.candidates:focus{
    outline:none;
    width:100%;
    height:100%;
    margin-left:0%;
    margin-top:0%;
}