html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

:root {
    --header_color: #FFC58B;
    --question_color: #FFD6B3;
    --main_color: #FFF5F0;
}

.header {
    background: var(--header_color);
}

#section {
    width: 100%;
    height: 100%;
}