html,
body{
    margin: 0;
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

:root {
    --transparent: #0000;
    --header_color: #ff9a47;
    --header_gradient:linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    --body_gradient: linear-gradient(to left,var(--transparent) 0%, var(--question_color)10%,var(--question_color)90%,var(--transparent) 100%);
    --question_color: #FAF1E4;
    --question_gradient:linear-gradient(to bottom,var(--question_color), var(--transparent) 30px,var(--transparent));
    --candidate_gradient:linear-gradient(180deg, #fdfbfb 0%, #ebedee 100%);
    --result_color: #FFF5F0;
    --main_color: #FFF5F0;
}

.header {
    background: var(--header_gradient);
    width:  max(1200px, 100%);
    height: 60px;
}

#section {
    width: 100%;
    height: 870px;
    /* overflow: hidden; */
    position: absolute;
}


/* style for intro page */
#intro {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    position: relative;
    
}

#intro_guide {
    margin-top: 11%;
    margin-left: 100px;
    display: inline-block;
    width:80%;
    max-width: 700px;
    white-space: normal;
}

#intro_guide_main {
    font-size: 60px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

#intro_guide_detail {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    margin-top: 15px;
}
#intro_right{
    position: relative;
}
#intro_recent_product{
    position: absolute;
    top: 308px;
    left: 266px;
    width: 190px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

#intro_recent_product_text{
    position: absolute;
    top: 268px;
    left: 266px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    line-height: 110%;
}

#intro_recent_product a:link{
    color: black;
    
}

.intro_examples_image_src {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}

#intro_btn_wrap{
    margin-left: 200px;
}

@media (max-width: 860px){
    #intro_btn_wrap{
        position: absolute;
        left: 50%;
        margin-left: -140px
    }
}

@media (max-width: 1707px){
    #intro_right{
        display: inline-block;
    }
}
@media (min-width: 1708px){
    #intro_right{
        position: absolute;
        right: 0;
        top: 0;
    }
}
#intro_start_btn {
    margin-top: 120px;
    width: 280px;

    /* custom */
    outline:none;
    background-color: var(--header_color);
    background-image: none;
    border: none;
    border-radius: 40px;
    font-size: 25px;
    color: white;
}

#intro_start_btn:hover{
    background-color: #f7903c;
}

.btn-custom {
    /* bootstrap btn */
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    /* bootstrap btn-outline-* */
    /* color: var(--header_color); */
    width:250px;
    background-color: transparent;
    background-image: none;
    /* custom */
    border: 2px solid var(--header_color);
    border-radius: 40px;
    font-size: 25px;
    color: black;
}
.btn-custom:hover {
    background-color: var(--header_color);
    color: white;
}
.btn-custom:focus{
    outline: none;
}

/* style for fail page */
#fail {
    width: 1200px;
    height: 100%;
    margin: auto;
    background-color: var(--transparent);
    background-image: url("./images/no_idea.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#fail_image_item {
    width: 550px;
    height: 400px;
    padding: 50px;
    padding-bottom: 50px;
    margin: auto;
}

.fail_image {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#fail_text {
    margin: auto;
    margin-left: 50%;
    text-align: left;
}

#fail_text_main {
    font-size: 30px;
}

#fail_text_detail {
    font-size: 20px;
}

#fail_button button{
    margin-top: 60px;
    margin-left: 12.5%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}


/* style for result page */
#result {
    margin: auto;
    width: 1200px;
    height: 100%;
    background: var(--candidate_gradient);
    margin-top:100%;
    margin-left:-600px;
    position: absolute;
    top:0px;
    left:50%;
    z-index: 1;
}
#product_img{
    margin:10px;
    width: 400px;
}
.answer_button{
    margin: 8px;
    width: 300px;
    height: 55px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: #FFFFFF;
    border-radius: 25px;
    border: solid 2px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.answer_button:focus{
    outline: none;
}
#result_yes {
    border-color:var(--header_color);
}
#result_yes:hover {
    background-color: var(--header_color);
    color: white;
}
#result_no:hover {
    background-color: lightgrey;
}
#result_back:hover {
    background-color: lightgrey;
}

#result_bottom {
    margin: auto;
    width: 90%;
    height: 30%;
    text-align: left;
}
.alternative {
    width: 24%;
}

.wrapper{
    display: table;
    text-align:center;
    margin: 0 auto;
}
.content{
    display: table-cell;
    vertical-align: middle;
}
.w50{
    width:50%;
}
.w100{
    width: 100%;
}
.h60{
    height: 60%;
}
.bold30{
    font-size: 30px;
    font-weight: bold;
}
.normal20{
    font-size: 20px;
}
.left_align{
    text-align:left;
}
.center_align{
    text-align: center;
}

.horizontal {
    float:left;
}


/* style for question page */
#question{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.question_bg{
    background: var(--question_color);
    width: 1200px;
    height: 100%;
    
}

.btn-choice {
    /* bootstrap btn */
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    /* bootstrap btn-outline-* */
    /* color: var(--header_color); */
    width:250px;
    background-color: transparent;
    background-image: none;
    /* custom */
    border: 2px solid grey;
    border-radius: 40px;
    font-size: 25px;
    color: black;
    background-color: #FFFFFF;
}
.btn-choice:hover{
    border-color: var(--header_color);
}
.btn-choice:focus{
    outline: none;
    border-color: var(--header_color);
    box-shadow:inset 4px 2px 0px -1px var(--header_color);
}

.candidate_bg{
	background-color: var(--result_color);
	width: 1200px;
	height: 45%;
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, 0%);
/* border: 5px solid #ff8a4f; */
}

.back_button{
    background-size: 100px 100px;
    width: 28px;
    height: 28px;
    margin-left: 15px;
    margin-top: 12px;
}
.back_button:focus{
    outline: none;
}


.question{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.choices{
    width: 840px;
    height: 210px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 30px;
}

.choices button{
    width: 240px;
    font-size: 24px;
    margin: 10px;
}

#candid_discdiv{
	display:table;	
	position: absolute;
	width: 100%;
	height: 10%;

}

#candid_imgdiv{	
	position: absolute;
	width: 100%;
	height: 90%;
	top : 10%;
}

#no_candid_div{	
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
}

#no_candid_text {
    display: table-cell;
    vertical-align: middle;
}

#question_candidate_image_text {
	display:table-cell;
	vertical-align:middle;
    text-align: left;
    font-size: 20px;
	font-weight: bolder;
    padding-left: 2%;
    /*color: #ff8a4f;*/
}

.image_textbox {
	position: absolute;
	display : table;
	width: 100%;
	height: 20px;
	bottom : 0;
	/* padding: 5px 10px; */
	background-color: rgba( 0, 0, 0, 0.5 );
	text-align: center;
}

.question_imgdiv_image_text{
	display:table-cell;
	vertical-align:middle;
	color: #ffffff;
}

.imgdiv{	
	position: absolute;
	width:160px;
	height:160px;
	display:none;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
}
.imgdiv:hover{
    width:168px;
    height:168px;
    /*transform: rotate(3deg);*/
}

.wrongimgdiv{	
	position: absolute;
	width:160px;
	height:160px;
	opacity:0.5;
	display:none;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
}

.candidates{
	width:100%;
	height:100%;
}
/* .candidates:hover{
    width:104%;
    height:104%;
    margin-left:-2%;
    margin-top:-2%;
    transform: rotate(3deg);
} */


.candidates:focus{
    outline:none;
    width:100%;
    height:100%;
    margin-left:0%;
    margin-top:0%;
}